/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100%;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  padding: 2rem;
}
.accordion-wrapper {
  width: 100%;
  max-width: 70rem;
  margin: 3rem auto;
  padding: 2rem 1rem;
  background-color: #f4f4f4;
  outline: 2px solid #fff;
  outline-offset: 4px;
}
.accordion-header {
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1;
}
.accordion-header h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ba1248;
}
.accordion-header p {
  font-size: 1.4rem;
  margin-top: 0.75rem;
  color: #474747;
}
.accordion {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.accordion-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.accordion-button div {
  font-size: 1.6rem;
  font-weight: 700;
  color: #191919;
  flex: 1;
  text-align: start;
}
.accordion-body:not(.accordion-body:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}
.accordion-content p {
  font-size: 1.5rem;
  line-height: 1.4;
  font-size: 400;
  padding: 1rem 0;
  color: #303030;
}
/* These Classes Used in Alpine Js for Transition Effects */

.transition-500 {
  transition: all 1s ease-in-out;
}
.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}
.transitionX-100 {
  transform: translateX(-100%);
}
.transitionX-0 {
  transform: translateX(0);
}
